<div class="row">
    <div class="col-sm-9">
        <input ng-model="addedName" placeholder="First name">
        <input ng-model="addedDate" placeholder="Date of birth">

        <button ng-click="random()">random person</button>

        <button ng-click="add()">add</button>

        <button ng-click="generate()">generate a person</button>

    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <table class="table">
        <br>
        random person: {{ result.name }}
        <br>
        year: {{ result.date }}
        <br><br>
        </table>
    </div>
</div>




<div class="peopleList">
    <div class="item col-md-4" ng-repeat="person in peopleList">

        <div>name: {{  person.name }}</div>
        <div>year: {{ person.date }}</div>

    </div>

</div>
